@import "./config";

@font-face {
	font-family: "Gilroy-ExtraBold";
	src: url(../assets/fonts/Gilroy-ExtraBold.woff) format("woff");
}

@mixin headingFont-en {
	font-family: "Gilroy-ExtraBold";
}

html {
	scroll-behavior: smooth;
	// direction: rtl;
	// @include bodyFont-en;
	@include headingFont-en;
	button {
		// @include bodyFont-en;
		@include headingFont-en;
	}
}

body {
	background-color: #f1f2f3;
	@include customBrackPoint {
		background-color: moccasin;
	}
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

.app {
	min-height: 100vh;
	background-color: #f5f5f5;
	@include custom-scrollbar;

	margin: 0;
	padding: 0 !important;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	@import "./css/fontello.css";
	@import "./css/ionicons.css";
}
